/* màu chính :#69ae8b  */
/* màu hover: #3f7a5c */
/* màu viền: #eeaeca */
/* Overlay background */
#homestayDetailOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#homestayDetailOverlay.active {
    visibility: visible;
    opacity: 1;
}

/* Popup container */
#homestayDetailPopup {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 500px;
    height: 700px;
    max-width: 500px;
    background: white;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 10002;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
}

/* Khi hiển thị popup */
#homestayDetailPopup.active {
    bottom: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

/* Nội dung popup */
.popup-content {
    position: relative;
}

#homestayDetailPopup h2 {
    margin-top: 0;
    font-size: 22px;
    color: #69ae8b;
    text-align: center;
}

/* Nút đóng */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
    color: #ff4d4d;
    font-weight: bold;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #ff0000;
}

/* Tab */
.tab-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 2px solid #69ae8b;
}

.tab-buttons button {
    flex: 1;
    padding: 8px;
    background: #69ae8b;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.tab-buttons button:hover,
.tab-buttons button.active {
    background: #3f7a5c;
}

/* Nội dung tab */
.tab-content {
    display: none;
    padding: 15px;
    text-align: start;
}

.tab-content.active {
    display: block;
}

.homestay-image {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
