/* màu chính : #69ae8b  */
/* màu hover: #3f7a5c */
/* màu viền: #eeaeca */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh;
}

.search-box {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
}

.search-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*login button*/
.login-link {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1000;
}

.search-box button,
.login-link a {
    text-decoration: none;
    padding: 10px 15px;
    background: #69ae8b;
    color: #fff;
    border-radius: 5px;
}

.search-box button,
.login-link a:hover {
    background: #3f7a5c;
}

/*pop up_search*/
/* #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9998;
    display: none;
} */

#resultsPopup {
    margin-top: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 90%;
    background: #fffbe7;
    padding: 20px;
    border-right: 2px solid #eeaeca;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
    animation: slideIn 0.3s ease-in-out;
}

#resultsPopup .popup-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#resultsPopup h2 {
    margin-top: 0;
    font-size: 24px;
    color: #69ae8b;
    text-align: center;
}

#resultsPopup .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #ff4d4d;
    font-weight: bold;
    transition: color 0.2s ease;
}

#resultsPopup .close-btn:hover {
    color: #ff0000;
}

#resultsList {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border-top: 1px solid #eeaeca;
}

/* Hiệu ứng trượt vô */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
